@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: "Montserrat", sans-serif;

}

.container1 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(44, 74, 119, 0.4906556372549019) 0%, rgba(4, 65, 107, 0.43463322829131656) 86%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    scroll-behavior: smooth;
    padding: 30px;
    padding: 0;
}

.logo {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 62px;
    cursor: pointer;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.headerPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 80%;
    transition: 0.5s;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #ffffff;
    text-shadow: 2px 2px black;
    transition: all 0.5s;
}

header.white {
    box-shadow: 0 20px 30px rgb(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    background-color: rgb(0, 0, 0);

}

button {
    padding: 10px 25px;
    background-color: #35455d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.9s ease 0s;
}

button:hover {
    background-color: #ffffff;
    color: #35455d;
    box-shadow: 1px 1px 1px 1px black;
}

.content {
    display: none;
    position: absolute;
    background-color: #e0d7d7;
    min-width: 100px;
    margin-top: 5px;
    padding: 10px 25px;
}

.hovered:hover .content {
    display: block;
}

.content a {
    display: block;
    color: #000000;
    cursor: pointer;
    text-align: center;
}

.hovered {
    padding: 10px !important;
}

.search {
    --padding: 6px;
    width: max-content;
    padding: var(--padding);
    border-radius: 50px;
    background: #ffffff;
}

.search-input {
    font-size: 16px;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    margin-left: var(--padding);
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.25);
}

.search-icon {
    cursor: pointer;
}

.search:hover {
    background: #f1f1f1;
}

.search-button {
    background-color: transparent;
    padding: 1px;
}

.no-result-box {
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 181px;
}

.no-result-box h1 {
    font-size: 50px;
}

.no-result-box p {
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #35455d;
    color: #fff;
    padding: 40px;

}

.social-media a {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(120deg) brightness(106%) contrast(101%);
}

.social-media a:hover {
    filter: invert(0%) sepia(93%) saturate(26%) hue-rotate(59deg) brightness(89%) contrast(100%);
    transition: 0.7s ease 0;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .logo {
        width: 62px;
        margin-left: 0;
    }

    li,
    a,
    button {
        font-size: 10px;
    }

    button {
        padding: 5px 15px;
    }

    .search-input {
        font-size: 10px;
        width: 70px;
    }

    .sections {
        font-size: 20px;
    }

    .cards {
        margin-top: 330px;
        margin-bottom: 100px;
    }

    .fuyuzat,
    .isiq {
        margin-left: 0;
        width: 33%;
        padding: 20px;
    }

    .name-of-journal {
        font-size: 16px;
        color: white;
        padding-bottom: 20px;
    }

    .text-journal {
        font-size: 7px;
    }

    .fuyuzat img,
    .isiq img {
        width: 7rem;
        margin-right: 100px;
        margin-left: 0 !important;

    }

    .cards-button {
        padding: 0;
        margin-left: 20px;
        width: 40%;
    }

    footer {
        padding: 20px;
        font-size: 12px;
    }

}